.presentationModeGrid
{
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-evenly;
  border-bottom: 2px solid #ddd;
  align-content: center;
  padding:1.5%;

}

/* Header top css*/
.header{
  padding-bottom: 2%;
}

.topMenu{
  display:flex;
  background-color: black;
  height:50px;
  align-items:center;
  flex-direction: nowrap;
 
  justify-content:center;

}

.inputText{
  height:30px;
  margin-left:8%;
  width:400px;
  padding-top:1%;
  border-radius:5px;
  
}

.searchbutton{
  background-color: orange;
  border-style: none;
  color: black;
  height:40px;
  width:80px;
  border-radius:5px;


}

.topLine{
  background-color:rgb(54, 54, 65);
  height: 30px;
}