body{
  background-color:#e9eaed;
}
.paper{
 display :flex; 
}
.mainSection{
display:flex;
vertical-align: middle;
flex-direction: column;
background-color: white;
width: 57%;
margin-top:1.3%;
margin-left:3.6%;
margin-bottom:2%;
border-top: 1px solid black;
padding:2%;


}


.sideSection{
 display:flex;
 flex-direction: column;
 background-color: white; 
 width: 25%; 
 margin-top: 1.3%; 
 margin-left: 1.3%;
 margin-bottom:85%;
 padding-top:2%;
 padding-left: 1.3%;
 padding-right: 1.3%;
 border-bottom: 1px solid #e9eaed;


 }
